server:
  port: 8081

spring:
  application:
    name: user-service
  datasource:
    url:
    driverClassName: com.mysql.cj.jdbc.Driver
    username:
    password:
  jpa:
    hibernate:
      ddl-auto: update

  jwt:
    issuer: dsada
    secret: taxi-project

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka